/* Collectibles Grid */
#collectibles {
    text-align: center;

    color: var(--text-color);
    padding: 15px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    max-width: 400px;

    margin: 0 auto;
    margin-top: 20px;

    & button {
        margin-top: 0.5em;
    }

    h2 {
        margin: 2px;
    }
}

#collectible-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

@media (max-width: 400px) {
    #collectible-container {
        gap: 0px;
    }
}

.collectible-item {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    justify-content: center;
}

.collectible-disabled {
    opacity: 0.5;
}

.collectible-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.collectible-item img {
    height: 1.2em;
    /* Size relative to text font */
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
}

.collectible-item span {
    font-size: 1em;
    font-weight: 500;
}

/* For mobile devices */
@media (max-width: 768px) {
    #collectibles {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    #collectibles {
        grid-template-columns: repeat(2, 1fr);
    }
}