body {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Roboto", sans-serif;

    background-color: #FFF1E8;

    --bg-button-selected-color: #FFB687;
    --text-color-button-selected: #272344;

    --bg-button-color: #ffffff;
    --text-color-button: #e48f59;

    --bg-light-color: #FFEACB;
    --text-color: #272344;

    --bg-background-dark-color: #FFB687;

}

#start-question-container,
#final-container {
    justify-content: center;
}

.nowrap {
    white-space: nowrap;
}


h1 {
    font-size: 60px;
    line-height: 1.2em;
    text-align: center;
}

h2 {
    font-size: 30px;
    line-height: 1.3em;
    font-weight: bolder;
}

#game-container,
#end-game-question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    margin-bottom: 0;
    width: 100%;
}

#end-game-question-container {
    margin-top: 30px;
    height: auto;
    margin-bottom: 60px;
}

#game,
#end-game-question-block {
    width: 100%;
}

#leaderboard-button {
    font-size: 50px;
    transform: scale(calc(1 / var(--zoom-factor)));

    line-height: 1.2em;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;

    & span {
        width: 1em;
        margin-bottom: 4px;
    }
}

#leaderboards,
#leaderboards-hidden {
    position: fixed;
    top: 15%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;

    background: white;
    color: var(--text-color);
    transition: top 0.5s;

    text-align: center;

    overflow: hidden;
    /* Ajouté pour cacher le contenu qui dépasse */

    #leaderboard-button span {
        font-size: 50px;
        transform: rotate(180deg);
        transition: transform 0.5s;
    }
}

#leaderboards-hidden {
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    top: calc(100vh - 55px);

    #leaderboard-button span {
        transform: rotate(0deg);
    }
}

.leaderboard {
    display: flex;
    align-content: center;
    flex-direction: column;

    & h2 {
        margin-bottom: 0;
        font-size: 1em;
    }

    & hr {
        width: 75%;
        color: var(--bg-background-dark-color);
    }

    & table {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        border-collapse: collapse;

        & #current-player,
        #current-coop {
            background: #aae6ab;
            color: black;
        }
    }
}

#round,
#question-index {

    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    position: fixed;

    background: var(--bg-background-dark-color);
    color: white;
    border-radius: 20px;
    top: 0;
    left: auto;
    height: 85px;
    width: 50%;
    min-width: 250px;

    transform: translate(0, -50px);

    p {
        padding-top: 23px;
        padding-left: 0;
        font-size: 27px;
        text-align: center;
    }
}

#submit-choice {
    margin-top: 1em;
}

.center {
    text-align: center;
}

#round-title {
    margin-bottom: 30px;
}


@media (max-width: 767px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }
}

@media (max-height: 850px) {

    #game-container {
        margin-top: 30px;
        height: auto;
        margin-bottom: 60px;
    }
}

#leaderboards-background-hidden {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
}

tr {
    opacity: 0;
    transition: opacity 0.1s;
}

tr.show {
    opacity: 1;
}